<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main bg-no-repeat bg-center bg-cover md:flex-col" style="background-image: url({{images['bg']}});">
  <navbar class="md:w-full" />
  <div class="md:flex">
    <div class="p-4 md:h-lvh md:w-fit md:p-0">
      <sidebar [tags]="tags" />
    </div>
    <div class="flex flex-1 h-full">
      <div class="p-4">
        <h2 *ngFor="let tag of tags" id="{{tag}}"
          class="text-white text-outline-width-[2px] text-outline-color-[#000000] font-bold text-5xl">{{tag}}</h2>
        <h1 class="text-outline-width-[2px] text-outline-color-[#000000] font-bold text-white">{{ title }}</h1>
        <image [image]="images['admissions']" />
      </div>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
