<div class="static" (mouseleave)="hovering = null">
  <div
    class="md:hidden justify-center w-7 absolute top-0 left-0 bg-white px-1 border-[1.5px] border-slate-400 rounded-lg static z-40"
    id="hamburger" (click)="showCategories()">
    <div *ngFor="let _ of [].constructor(3)" class="h-1 w-full bg-black my-[3px]">
    </div>
  </div>
  <div id="categories"
    class="divide-x-2 border-2 border-slate-600 hidden bg-white absolute w-full h-screen top-0 left-0 md:h-fit md:flex md:relative">
    <div *ngFor="let arr of textboxes | keyvalue"
      class="p-1 border-slate-600 flex-auto flex basis-0 justify-center text-xl font-semibold hover:bg-yellow-200 select-none"
      (mouseover)="hovering = arr.value">
      <span>{{arr.key}}</span>
    </div>
  </div>
  <div *ngIf="hovering"
    class="grid grid-cols-3 bg-white text-blue-500 text-lg text-center border-2 absolute w-full place-content-stretch">
    <span *ngFor="let x of hovering" class="py-2 border-2 hover:cursor-pointer hover:bg-yellow-200">{{x}}</span>
  </div>
</div>
